/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#heading {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;        
}
.silverbar {
	background: #e9e7ea url(../img/graybar.svg);
	border-bottom: solid 1px #b9b9b9;
	text-align: center;
	height: 44px;
	font-size: 22px;
	padding: 4px 10px;
}
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.transition {
	-webkit-transition-duration: .20s;
	transition-duration: .20s;
}
#search {
	text-align: left;
}
.ibar {
	position: relative;
	height: 44px;
	padding: 3px 10px;
	background-color: #4096ee;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f6c8b), to(#bbc9db));
	background: -webkit-linear-gradient(top, #bbc9db, #4f6c8b);
	background: -moz-linear-gradient(top, #bbc9db, #4f6c8b);
	background: -ms-linear-gradient(top, #bbc9db, #4f6c8b);
	background: -o-linear-gradient(top, #bbc9db, #4f6c8b);
	background: linear-gradient(top, #bbc9db, #4f6c8b);
	border-top: solid 1px #cfdceb;
	border-bottom: solid 1px #3e5974;
}
.ibar .title {
	position: absolute;
	top: 9px;
	min-width: 64%;
	left: 18%;
	right: 18%;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px #4f6c8b;
	white-space: no-wrap;
}
.ibar .right {
	position: absolute;
	top: 0;
	right: 0;
}
.ibtnsq {
	background-color: transparent;
	background-image: url(../img/ibtnsq.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 30px;
	width: 34px;
	border: 0;
	margin: 5px 7px;
	padding: 0px;
	overflow: hidden;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-shadow: 0px -1px #4f6c8b;
	text-align: center;
}
.ibtnsq:active {
	background-position: 0 100%;
}
.ibtn {
	padding: 0 15px;
	border: none;
	margin: 1px;
	height: 30px;
	font-size: 11px;
	font-weight: bold;
	color: white;
	background-color: transparent;
	background-image: url(../img/ibtnleft.svg), url(../img/ibtnmid.svg), url(../img/ibtnright.svg);
	background-clip: padding-box, content-box, padding-box;
	background-position: left top, left top, right top;
	background-repeat: no-repeat, repeat-x, no-repeat;
	text-shadow: 0px -1px #4f6c8b;
}
.ibtn:active {
	background-position: left 100%, left 100%, right 100%;
}
.ibtn.left {
	padding: 0 15px 0 20px;
	background-image: url(../img/ibtnleftarr.svg), url(../img/ibtnmid.svg), url(../img/ibtnright.svg);
}
#sorters {
	position: relative;
	height: 44px;
}
#searchbox {
	background: white url(../img/mag.svg) no-repeat scroll 4px 4px;
	border-top: solid 1px #134a82;
	border-left: solid 1px #134a82;
	border-right: solid 1px #8dc1f5;
	border-bottom: solid 1px #8dc1f5;
	border-radius: 12px;
	padding: 2px 2px 2px 30px;
	font-size: 20px;
	width: 220px;
}
#searchbox.prompt {
	color: #888888;
}
.sortbox {
	position: relative;
	padding-top: 11px;
	font-size: 18px;
	float: left;
	width: 50%;
	height: 44px;
	margin: 0;
	text-align: center;
	background-color: #686871;
	color: #e9e9e9;
	border-right: solid 1px #eeeeee;
}
.sortbox_current {
	background-color: #39393D;
}
.sortbox_current .arrow {
	position: absolute;
	height: 6px;
	width: 100%;
	top: 44px;
	background-image: url(../img/dnarrow.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 100;
}
#sort_by_cust {
}
#sort_by_dist {
	border-right: none;
}
.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4096ee), to(#6baef2));
	background: -webkit-linear-gradient(top, #6baef2, #4096ee);
	background: -moz-linear-gradient(top, #6baef2, #4096ee);
	background: -ms-linear-gradient(top, #6baef2, #4096ee);
	background: -o-linear-gradient(top, #6baef2, #4096ee);
	background: linear-gradient(top, #6baef2, #4096ee);
}
#locations {
	position: absolute;
	min-height: 100%;
	width: 100%;
}
#records {
	padding-top: 132px;
	padding-bottom: 30px;
}
#polist {
	padding-top: 75px;
}
#heading .location {
	background: #e0e0e0;
	position: relative;
	height: 30px;
	border-bottom: solid 1px #b0b0b0;
}
#heading .location .locname {
	position: absolute;
	top: 7px;
	left: 10px;
}
#heading .location .locaddr {
	position: absolute;
	top: 7px;
	right: 10px;
}

.list {
	padding-bottom: 30px;
}
.porecord {
	position: relative;
	height: 50px;
}
.porecord .po {
	position: absolute;
	left: 28px;
	top: 14px;
	font-size: 18px;
}
.porecord .type {
	position: absolute;
	right: 20px;
	top: 4px;
	font-size: 15px;
	min-width: 33%;
}
.porecord .due {
	position: absolute;
	right: 20px;
	top: 25px;
	font-size: 15px;
	min-width: 33%;
}
#records.isloading {
}
#recordsarea .loading {
	position: absolute;
	width: 50%;
	margin: 45px 25%;
	text-align: center;
	min-height: 42px;
	padding: 11px 10px 11px 40px;
	font-size: 14px;
	background: white url('../img/wait.gif') no-repeat;
	background-position: 5px 5px;
	color: #808080;
	border: solid 1px #404040;
	border-radius: 6px;
	background-color: white;
	opacity: 2;
}
.record {
	position: relative;
	border-bottom: solid 1px #c0c0c0;
	background-color: white;
	border-left: solid 5px #c0c0c0;
}
.record.highlight, .record:active {
	background-color: #8cc0f5;
	border-left: solid 5px #4096ee;
}
.indicators {
	width: 28px;
	height: 100%;
	text-align: center;
}
.checkin .indicators {
	background-image: url(../img/circred.svg);
	background-position: 7px 50%;
	background-repeat: no-repeat
}
.incomplete .indicators {
	background-image: url(../img/circempty.svg);
	background-position: 7px 50%;
	background-repeat: no-repeat
}
.locrecord .locname {
	position: absolute;
	left: 28px;
	top: 9px;
	font-size: 18px;
	right: 150px;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}
.locrecord .locaddr {
	position: absolute;
	font-size: 13px;
	left: 28px;
	top: 34px;
	color: #134a82;
	right: 100px;
	overflow: hidden;
	white-space: nowrap;
}
.locrecord .dist {
	position: absolute;
	right: 30px;
	top: 34px;
	font-size: 13px;
	color: #2470d8;
	font-weight: bold;
	padding-right: 1.5em;
}
.locrecord .ponum {
	position: absolute;
	right: 30px;
	top: 2px;
	font-size: 22px;
	margin: 3px;
}
.locrecord .ponum.mult {
	font-size: 18px;
	color: #606060;
}
.locrecord .ponum.mult .count {
	font-weight: bolder;
	color: #1259c2;
}
.locrecord {
	height: 59px;
}
@media screen and (min-width:330px) {
}

@media screen and (max-width:330px) {
	.locrecord .ponum {
		top: 6px;
		font-size: 18px;
	}
}

.closed {
	background-color: #c0c0c0;
	border-bottom: solid 1px #d0d0d0;
}
.poprefix {
	color: #808080;
}
.record .data .ponum .number {
	font-weight: bold;
}
.record .data .multiple {
	font-size: 80%;
	color: #505050;
}
.record .rtarrow {
	position: absolute;
	right: 8px;
	top: 19px;
	background: url(../img/rtarrow.svg);
}
.rtarrow {
	width: 12px;
	height: 19px;
}
#details .podata {
	position: relative;
	font-size: 15px;
}
#details .podata .ponum {
	float: right;
	font-size: 15px;
	font-weight: bold;
}
#details .podata .location {
}
#details .podata .location .locname {
	font-weight: bold;
}
#details .podata .location .name {
	display: none;
}
#details .podata .location .value {
	padding-left: 35px;
	font-weight: bold;
	min-height: 34px;
	background: url('../img/pin.svg') no-repeat;
}
#details .podata .servicetype {
}
#details .actions {
	background-color: #e0e0e0;
	position: fixed;
	width: 100%;
	bottom: 0px;
	border-top: solid 1px #b0b0b0;
}
#details section {
	padding: 10px;
	border-top: solid 1px #e0e0e0;
}
.name {
	color: #134a82;
	font-weight: normal;
}
.value {
	color: black;
	font-weight: bold;
}
.actions {
	text-align: center;
}
.actions .bigbtn:first-line {
	font-size: 24px;
}
.actions .bigbtn {
	height: 89px;
	width: 274px;
	background: url(../img/greenbtn.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	border: none;
	color: white;
	font-size: 15px;
	padding: 0;
	text-shadow: 0px -1px #4f6c8b;
	font-weight: bold;
	margin: 3px;
}
.actions .bigbtn.green {
	background: url(../img/greenbtn.svg);
}
.actions .bigbtn.red {
	background: url(../img/redbtn.svg);
}
.actions .bigbtn.amber {
	background: url(../img/amberbtn.svg);
}
.actions .bigbtn:active {
	background-repeat: no-repeat, no-repeat;
	background-position: 0 100%;
	padding: 2px 0;
}

#error {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #ecf0a4 url('../img/error.svg') no-repeat 4px 4px;
	color: black;
	padding: 8px 5px 5px 62px;
	border-top: solid 1px #959c1a;
	min-height: 62px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
